<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/pages/findByCategory/findByCategory.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Category</title>
</head>

<body>
    <!-- menu -->
    <header>
        <!-- menu -->

        <% if(userDetail){%>
            <%- include('../../components/login_header/login_header') %>
                <%}else{%>
                    <!-- menu -->
                    <%- include('../../components/headerHome/header') %>
                        <!-- mobile -->
                        <%- include('../../components/headerHome/headerMobile') %>
                            <% } %>
    </header>
    <!-- menu -->
    <!-- main -->
    <div class="main-container">
        <div class="main">
            <h2><i class="fa-solid fa-flag"></i> Truyện đang thoe dõi</h2>
            <div class="main-content">
                <ul class="list-item">
                    <%manga.map((m)=>{%>
                        <li class="card-item" onclick="viewDetails('<%=m.slug%>')">
                            <a>
                                <img src="<%=m.avatar%>" alt="">
                            </a>
                            <div class="bookname">
                                <%=m.name%>
                            </div>
                            <div class="lastest-chapter">Chapter 123</div>
                        </li>
                        <%})%>
                </ul>
            </div>
        </div>
    </div>
    <!-- main -->

    <!-- footer -->
    <footer>
        <%- include('../../components/footer') %>

    </footer>
    <!-- footer -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/views/pages/findByCategory/findByCatefory.js"></script>

</html>