<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/pages/Home/history/history.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>

<body>
    <!-- menu -->
    <header>
        <% if(userDetail){%>
            <%- include('../../../components/login_header/login_header') %>
                <%}else{%>
                    <!-- menu -->
                    <%- include('../../../components/headerHome/header') %>
                        <!-- mobile -->
                        <%- include('../../../components/headerHome/headerMobile') %>
                            <% } %>
    </header>
    <!-- menu -->
    <!-- main -->
    <div class="main-container">
        <div class="main">
            <h2><i class="fa-solid fa-flag"></i> Truyện đang thoe dõi</h2>
            <div class="main-content">
                <ul class="list-item">
                    <%history.map((h)=>{%>
                        <li class="card-item">
                            <a>
                                <img src="<%=h.mangaID.avatar%>" alt="" onclick="view('<%=h.mangaID.slug%>')">
                                <div class="more-info">
                                    <div class="unfollow" onclick="unhistory('<%=h._id%>')"><i
                                            class="fa-solid fa-circle-xmark"></i></div>
                                </div>
                            </a>
                            <div class="bookname">
                                <%=h.mangaID.name%>
                            </div>
                            <!-- <div class="lastest-chapter">Chapter 123</div> -->
                        </li>
                        <%})%>
                </ul>
            </div>
        </div>
    </div>
    <!-- main -->

    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="footer-left">
                <a href="" class="logo">
                    <img src="http://truyen48.com/template/frontend/images/logo.png" alt="">
                </a>
                <p class="quote">Luôn cập nhật liên tục các bộ truyện mới nhanh nhất để phục vụ độc giả.
                    Đọc truyện hoàn toàn miễn phí, hỗ trợ đa thiết bị.
                </p>
                <p class="contact">Email: adstruyenqq@gmail.com</p>
            </div>
            <div class="footer-right">
                <div class="footer-cat">
                    <a href="http://">Chuyển sinh</a>
                    <a href="http://">Manhwa</a>
                    <a href="http://">Romance</a>
                    <a href="http://">Cổ đại</a>
                    <a href="http://">Chuyển sinh</a>
                    <a href="http://">Manhwa</a>
                    <a href="http://">Romance</a>
                    <a href="http://">Cổ đại</a>
                </div>
                <p class="copyright">Mọi thông tin và hình ảnh trên website đều được sưu tầm trên Internet.
                    Chúng tôi không sở hữu hay chịu trách nhiệm bất kỳ thông tin nào trên web này.
                    Nếu làm ảnh hưởng đến cá nhân hay tổ chức nào, khi được yêu cầu,
                    chúng tôi sẽ xem xét và gỡ bỏ ngay lập tức.
                </p>
            </div>
        </div>
    </footer>
    <!-- footer -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/views/pages/Home/history/history.js"></script>
<script src="/views/components/headerHome/header.js"></script>

</html>