<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/pages/Home/page/page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/views/pages/user/profileUser/profileUser.css" />
    <title>Document</title>
</head>

<body>
    <div class="wrapper-profile">
        <header>
            <% if(userDetail){%>
                <%- include('../../../components/login_header/login_header') %>
                    <%}else{%>
                        <!-- menu -->
                        <%- include('../../../components/headerHome/header') %>
                            <!-- mobile -->
                            <%- include('../../../components/headerHome/headerMobile') %>
                                <% } %>
        </header>

        <div class="container-profile">
            <div class="mainUserProfile">
                <h2>About you</h2>
                <!-- name -->
                <div class="mainUserProfile__item">
                    <div class="mainUserProfile__itemLeft">
                        <h3>Name</h3>
                        <p class="Name-span">
                            <%= userProfile.username %>
                        </p>
                    </div>
                    <div class="mainUserProfile__itemRight">
                        <button class="btnEdit editName">Edit</button>
                        <div class="buttonSet setEditName">
                            <button class="btnSave saveName" onclick="ChangeName()">Save</button>
                            <button class="btnCancel cancelName">Cancel</button>
                        </div>
                    </div>
                </div>
                <hr class="change-splitter">
                <!-- des -->
                <div class="mainUserProfile__item">
                    <div class="mainUserProfile__itemLeft">
                        <h3>Description</h3>
                        <p class="Des-span">
                            <%= userProfile.discription %>
                        </p>
                    </div>
                    <div class="mainUserProfile__itemRight">
                        <button class="btnEdit editDes">Edit</button>
                        <div class="buttonSet setEditDes">
                            <button class="btnSave saveDes" onclick="ChangeDes()">Save</button>
                            <button class="btnCancel cancelDes">Cancel</button>
                        </div>
                    </div>
                </div>
                <hr class="change-splitter">
                <!-- email -->
                <div class="mainUserProfile__item">
                    <div class="mainUserProfile__itemLeft">
                        <h3>Email</h3>
                        <p class="Email-span">
                            <%= userProfile.email %>
                        </p>
                    </div>
                    <div class="mainUserProfile__itemRight">
                        <button class="btnEdit editEmail">Edit</button>
                        <div class="buttonSet setEditEmail">
                            <button class="btnSave saveEmail" onclick="ChangeEmail()">Save</button>
                            <button class="btnCancel cancelEmail">Cancel</button>
                        </div>
                    </div>
                </div>
                <hr class="change-splitter">
                <!-- password -->
                <div class="mainUserProfile__item">
                    <div class="mainUserProfile__itemLeft">
                        <h3>Password</h3>
                        <input type="password" placeholder="Your old password" name="" id="oldPassword">
                        <input type="password" placeholder="Your new password" name="" id="newPassword">
                    </div>
                    <div class="mainUserProfile__itemRight">
                        <button class="btnEdit editPass">Edit</button>
                        <div class="buttonSet setEditPass">
                            <button class="btnSave savePass" onclick="ChangePassword()">Save</button>
                            <button class="btnCancel cancelPass">Cancel</button>
                        </div>
                    </div>
                </div>
                <hr class="change-splitter">
                <!-- avatar -->
                <div class="mainUserProfile__item">
                    <div class="mainUserProfile__itemLeft">
                        <h3>Avatar</h3>
                        <form enctype="multipart/form-data" class="changeAvatar-form">
                            <label for="change-avatar">Browse your Avatar</label>
                            <input type="file" name="avatar" id="change-avatar" />
                        </form>
                    </div>
                    <div class="mainUserProfile__itemCenter">
                        <img class="preview-avatar" src="<%= userProfile.avatar %>" alt="">
                    </div>
                    <div class="mainUserProfile__itemRight">
                        <button class="btnEdit editAvatar">Edit</button>
                        <div class="buttonSet setEditAvatar">
                            <button class="btnSave saveAvatar" onclick="ChangeAvatar()">Save</button>
                            <button class="btnCancel cancelAvatar">Cancel</button>
                        </div>
                    </div>
                </div>
                <hr class="change-splitter">
                <hr style="border: 0;height:1px;background: rgba(0,0,0,0.15);">
            </div>
        </div>
    </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/views/pages/user/profileUser/profileUser.js"></script>
<script src="/views/components/headerHome/header.js"></script>

<!-- <script src="/views/pages/Home/page/page.js"></script> -->

</html>