<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Avatar</th>
            <th scope="col">Category</th>
            <th scope="col">Author</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% allManga.map((manga, index)=>{%>
            <tr>
                <th scope="row">
                    <%=index + 1%>
                </th>
                <td>
                    <%=manga.name%>
                </td>
                <td><img src="<%=manga.avatar%>" alt="" width="40px"></td>
                <td>
                    <% for(let i=0; i < manga.category.length; i++) {%>
                        <%=manga.category[i].name%>
                            <%}%>
                </td>
                <td>
                    <%=user%>
                </td>
                <td>
                    <button class="btn btn-warning" onclick="edit('<%= manga._id%>')">Edit</button>
                    <button class="btn btn-info" onclick="viewDetails('<%= manga._id%>')">View detail</button>
                    <button class="btn btn-danger" onclick="delette('<%= manga._id%>')">Delete</button>
                </td>
            </tr>
            <%})%>
    </tbody>
</table>